.CompactCard{
    display: flex;
    height: 7rem !important;
    position: relative;
    cursor: pointer;
    border-radius: 0.7rem;
    flex: 1;
    color: #fff; 
    padding: 1rem;
} 
.CompactCard:hover{
    box-shadow: none !important;
} 
/* radialBar */
.radialBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
} 
.CircularProgressbar{
    width: 4rem!important;
    overflow: visible;
}
.CircularProgressbar-path{
    stroke: white !important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px white);
}
.CircularProgressbar-trail{
    display: none;
}
.CircularProgressbar-text {
    fill: #fff !important;
}
.radialBar>span{
    font-size: 17px;
    font-weight: bold;
} 
.detail{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end ;
} 
.detail>span:nth-child(2){
    font-size: 22px;
    font-weight: bold;
}
.detail>span:nth-child(3) {
    font-size: 12px;
}
/* ExpandedCard */ 
.ExpandedCard{
    position: absolute;
    padding: 1rem;
    width: 60%;
    height: 68vh;
    z-index: 9;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    left: 13rem;
} 
.icon-close{
    align-self: flex-end;
    cursor: pointer;
    color: white;
}
.ExpandedCard>span:nth-of-type(1){
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 15px white;
}
.ExpandedCard>span:nth-of-type(2) {
    font-size: 16px;
    color: #efefef;
}
.ExpandedCard .chartContainer{
    width: 70%;
}
@media screen and (max-width: 1200px) {
    .ExpandedCard {
        top: 2rem;
        height: 45vh;
        left: 6rem;
    }
}

@media screen and (max-width: 768px) {
    .ExpandedCard {
        top: 8rem;
        height: 50%;
        left: 25px;
        width: 80%;
    }
}