.sidbar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 0.3ms ease-in-out;
}
.bars {
    display: none;
}

.logo {
    margin-left: 45px;
    display: flex;
    height: 5rem;
    gap: 1rem;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}

.logo>img {
    width: 3rem;
    height: 3rem;
}

.logo span>span {
    color: var(--orange);
}

.menu {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.menuItem {
    display: flex;
    gap: 1rem;
    height: 2.5rem;
    position: relative;
    margin-bottom:2rem;
    padding-left: 2rem;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 14px;
    align-items: center;
}

.menuItem:hover {
    cursor: pointer;
}

.menuItem.active {
    padding-left: 1rem;
    border-radius: 0 8px 10px 0;
    border-left: 8px solid #FF919D;
    background-color: #f799a354;
} 
.menuItem:last-child{
    margin-top: 2rem;
    margin-left: 1rem;
}
@media screen and (max-width: 1200px) {
    .menuItem>span {
        display: none;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sidbar {
        position: fixed;
        z-index: 9;
        background: #ffe0e0;
        width: 55%;
        padding-right: 1rem;
        height: 100%;
    }

    .menuItem>span {
        display: block;
    }

    .logo {
        display: flex;
    }

    .menu .menuItem:last-child {
        position: relative;
        margin-top: 6rem;
    }

    .bars {
        display: flex;
        position: fixed;
        top: 2rem;
        left: 60%;
        background: #ffe0e0;
        padding: 10px;
        border-radius: 10px;
        z-index: 9;
    }

    .close {
        left: -60%;
    }
}